We are using Google colab to  learn python intermediate level. Google colab uses free memory and processing upto certian level. This cloud based GUI has code and text option that can be iterated multiple times. Each cells can be run individually and output aren't washed away.

The text cells need not be executed (Run), whereas code cells need to be executed using play icon.
The note book can be downloaded in .ipynb format. Automatically gets saved in drive under colab notebooks.

**Python** is very popular general purpose, Interpreted, interactive, Object oriented, dynamically-typed and high level programming language.

1. Popular - Easy, general purpose, english like
2. General Purpose - Used AI, automation, web development etc
3. High - level - english like
4. Interpreted :
Any code is always converted to machine understanding byte code(In earlier languages like C, compiler did that before running it)

In python the source code is converted into byte code by interpreter that is executed by python virtual machine
5. Modes:
1) interactive mode:- Like windows prompt you can sit at python prompt to execute your code line by line by directly interacting with the interpreter.
2) script mode:- Python is also scripting language because you can write multiple lines of code in a script file and save it as filename.py, then you can execute this script in python prompt using python filename.py
3) what is IDLE (integrated development environment) / GUI based

Python is dynamically typed language, meaning unlike earlier programmmin languages where in variable data type was needed to be spcified before hand to allocate(reserve) memory to it. In python interpretor directly allocates memory at runtime reading the variable(eg: a = 1 will be allocated directly memory of integer at runtime)


Object oriented programming means, like in real world everything is an object(Eg:-Table) which has attributes(Eg:-Colour) and functionalities(Eg:-Writing, Eating).
Python is purely object oriented. It has 4 key concepts.

1. Polymorphism
2. Abstraction
3. Inheritance
4. Encapsulation

Encapsulation:- Encapsulating characteristics and behaviors of the object using clases.
Abstraction:-Hiding certain details.
Polymorphism:-Multiple functionalities like addition and concatenation operation.
Inheritance:-The attributes or funtionalities of a parent class by a child class is inheritance.

Python comments starts with #. intrepreted ignores anything written after # at runtime. comments makes your program more readable and you can also write alternate lines of code

Print is a built in function that is used to print message or variables on console

In [1]:
# This is my first Python program.
# This will print 'Hello' as the output
print('hello')
a = 1
print(a)

hello
1

In [76]:
#polymorphism
print(1+2)
print("hello "+ "esha") # string concatination

3
hello esha

Python is scalable(broad set of libraries) and portable(linux/ mac / windows).

In [3]:
a = 1   # int
b = "esha"  # string
c = "1" # string2

# python identifiers
(A Python identifier is a name used to identify a variable, function, class, module or other object. Rules of Indentifiers are
1.   Variable can start only with a alphabet or underscore(_)
2.   Digits can be used in viable name, But varibale cannot start with digit
3. Spaces are not allowed, You can used underscore instead(Snale case)
4. Reserved keywords like if,print etc cannot be used as varibale name.
5. Lastly python is case sensitive like small case and upper case are different.)

In [4]:
# Creating variables of different data types
counter = 1000  #integer
miles = 10.1  #float
name = "Esha Prakash"  # string
flag = True  #bool

print(counter)
print(miles)
print(name)
print(flag)

1000
10.1
Esha Prakash
True

In [5]:
price = 50
quantity = 5
total = price * quantity

print("total",total)
total # print without using print

total 250

250

Wrte code to swap two numbers
a = 5 and b = 10
b should become 5 and a should become 10

In [6]:
a = 5
b = 10


# logic is using temp variable
#temp = 0
#print(temp)
temp = a  # temp becomes 5
a = b   # a becomes 10
b = temp # b becomes temp which is 5


print (a)  #value should become 10
print (b)  # value should become 5

10
5

In [7]:
# code to swap without using third variable
a = 10
b = 5
a = a + b  # 15    a has total
b = a - b  # 10    b has original a (total - b)
a = a - b  # 5     a has original b  (total - original a)
print("a=",a,"b=",b)

a= 5 b= 10

Decision making using if and else. Also, learning concept of indent(suite or block)

In [8]:
# code to print max of two numbers
a = 4
b = 4
if (a>b):
 print("a is bigger")
elif(a==b):
 print("both are equal")
else:
 print("b is bigger")

both are equal

In [31]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
print("Largest number: ", max(num1,num2,num3))

Enter first number: 56
Enter second number: 89
Enter third number: 66
Largest number:  89

Logical operator and. Also, using elif

In [32]:
# code to print max of three numbers
a = 3
b = 2
c = 1
if (a>b and a>c):
 print(a)
 print("hurray, i m greatest")
elif(b>c and b>a):
 print(b)
else:
 print(c)

3
hurray, i m greatest

In [77]:
#Deletion
i_d = 123
print(i_d)
name = "esha"
del i_d
#print(i_d)

123

Most of the python functionality comes from function .
A function is created using the “def” keyword function.
A function has 4 parts :- function definitions ,
argument/parameters, return statement and function calling
Now flow of control goes from function calling to function
definition to return statement to back to function calling.

In [34]:
def sum(x,y): # function definition
   sum1 = x + y
   print(sum1)
   return sum1
# function calling
total = sum(1,2)
print(total)

3
3

LOCAL AND GLOBAL SCOPE

If variable are defined outside the function they can be used
anywhere and they have global scope.
If a variable is defined inside a function it can be only used
within the function.

In [35]:
defg = 2 # global variable with global scope
def demo():
   abc = 1  #local variable local scope
   print(defg)
   print(abc)
#print(abc)  # not allowed
demo()
print(defg)

2
1
2

In [36]:
#function

def sum(x,y):  # fn definition with parameters
  z = x+y
  #print(z)
  if(z>10):
   return z
  else:
   return 0

a = 5
b = 10
total = sum(a,b) #print(sum(a,b))   # fn calling
print(total)

15

PYTHON OPERATORS

Python Arithmetic Operators
Python Comparison Operators
Python Logical Operator
Python Membership Operators
Python identity Operator

In [37]:
#arithmetic
a = 3
b = 2
print("remainder",b%a) #modulus
print("exponent",a**b) #power
print("quotient",a//b) #floor division

remainder 2
exponent 9
quotient 1

comparison operators: >, <,>=,<=,==,!=

In [78]:
# decision making -if /else
# find whether a number is even or not
a = int(input("enter a number: "))
if(a%2==0):
#check whether a boolean expression which is (a%2==0) is true or not
  print("even")
else:
  print("odd")

enter a number: 98
even

In [79]:
#assignment
a = 2
c = 4 # assignment
a = a + 1 #meaning for next line
a += 1 # assignment/ increment

In [81]:
#check divisibilty by 2 or 5 or both or none using nested if

# decision making - nested if
# find whether a number is divisible by two and five
a = int(input("enter a number: "))
if(a%2==0):
 if(a%5==0):
  print("divible by 2 & 5")
 else:
  print("divible by 2")
else:
  if(a%5==0):
    print("divisible by 5")
  else:
    print("not divisible by 2&5")

enter a number: 10
divible by 2 & 5

In [83]:
# to find out whether number is a prime number or not
num = int(input("enter a number: "))
flag_prime = True
if num > 2:
  #logic
  for i in range(2,num):
    if (num%i)==0:
       flag_prime = False
       break
    else:
       flag_prime = True
elif num == 2:
  flag_prime = True
else:
  flag_prime = False

if(flag_prime == True):
      print("prime number")
elif(flag_prime == False):
      print("not a prime number")

enter a number: 7
prime number

PYTHON MEMBERSHIP OPERATORS : In and Not In, Are used with strings or list
Note: needed for "for loop"

In [2]:
# memership operator in
# example 1 : list
list1 = [1,2,3] # comma seperated items which can be of different
# data type enclosed withon square bracket is list
i = int(input("enter number you want check in list "))
#i = 4

if(i in list1):
  print("yes")
else:
  print("no")

enter number you want check in list 2
yes

In [3]:
#membership operator not in
# example two - string
string1 = "HelloWorld"
if ("Hello" not in string1):
  print("Not Present")
else:
  print("present")

present

In [7]:
#substring in string

string1 =input("enter a string ")
a = input("enter a character ")
if (a not in string1):
  print("true")
else:
  print("false")

enter a string rimi
enter a character mi
false

In [8]:
#indian phone no

number = input("Enter a number along with country code ")
if ("+91" in number):
  print("The phone number is Indian")
else:
  print("The phone number is not Indian")

Enter a number along with country code +91
The phone number is Indian

In [9]:
a = 1
b = a
#location at which a is getting stored can be found using id function
print(id(a))
print(id(b))

132606959698160
132606959698160

In [10]:
#identity operators
a = 1
b = a
if (b is a):
  print("same")
else:
  print("different")

same

In python, statements are executed sequentially. But control statements like if- else(skips certain statements) and loops (exceutes set of statements multiple times) changes the flow of python program.
# Loops - For while

In [11]:
#looping: while loop
count = 0  #initialization
while (count < 9):#condition check
   print ('The count is:', count)
   count = count + 1 #increment

print( "Out of while loop")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Out of while loop

In [12]:
#loop - for loop
#example 1
# variable iterates for a sequence - string
str1 = 'hello world'
for i in str1:
  print(i)

h
e
l
l
o

w
o
r
l
d

In [13]:
#loop - for loop
#example 2 -list
# variable iterates for a sequence - list
list1 = [1,'esha',28]
for i in list1:
  print(i)

1
esha
28

In [14]:
#loop - for loop
#example 3 -range
# variable iterates for a sequence - range
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

Control statements within loops are break, continue and pass

In [15]:
i = 1
while(i<11):
  a = i*11
  if(a>80):
    break
  print(a)
  i+=1
print("out of loop statement because break")

11
22
33
44
55
66
77
out of loop statement because break

In [16]:
# game of chocolate where u cant say multiple of 10 while stating multiple of 2

i = 0
while(i < 21):
  if(((i*2) % 10) ==0):
      pass
  else:
      print (i *2)
  i = i+1

2
4
6
8
12
14
16
18
22
24
26
28
32
34
36
38

In [17]:
#not a nested loop
i = 0
j = 1
while ((i < 3 )and (j <4)):

  print(i*j)
  j = j+ 1
  i = i + 1

0
2
6

In [18]:
i = 0
while i < 3:
    j = 1  # Reset j to 1 at the beginning of each iteration of the outer loop
    while j < 4:
        print(i * j)
        j = j + 1
    i = i + 1

0
0
0
1
2
3
2
4
6

In [19]:
i = 0
while(i<10):
  if(i==7):
    pass
  else:
    print(i)
  i= i+1

0
1
2
3
4
5
6
8
9

the fundamental data type in python are
Number ( sometimes boolean subset of number)
string
list
tuple
dictionary (mapping)
set(Hw- optional)

#python number type are
1)integer (int)
2)flating point number(float)
3)complex number (j)

In [20]:
#number
var1 = 1       # int data type
var2 = 10.023  # float data type
var3 = 10+3j   # complex data type

#boolean
var4 = True    # bool data type

#to check data type
type(var2)
#type(True)

float

In [21]:
#maths functions
import math
a = -1
print(abs(a)) # removes negative effect
b = 22.7
print(math.ceil(22.7)) # gives upper integer
print(math.floor(22.7)) # gives lower int
c = 22.2222222
print(round(c,2)) #rounds till (n)2 digit
print(pow(3,4)) # prints exponential value
print(math.sqrt(64))

1
23
22
22.22
81
8.0

In [22]:
#typecasting
#implicit
a = 10 # converted to 10.0 automatically
b = 10.5
c = a + b
print(c)

#explicit
d = 10
print(float(d))
e = 10.4
print(int(e))

20.5
10.0
10

# Strings
# strings
sring- any alphanumeric or special characters enclosed with single, double or triple quotes

. eg: "hello"
      'hello'

In [23]:
#Anything within double single or tripple quote is string
str1 = "Hello World!"



#indexing,slicing and concatination
#indexing
print (str1)          # Prints complete string
print (str1[0])
print(str1[-1])

# Prints first character of the string
#slicing
print (str1[2:5])     # Prints characters starting from 3rd to 5th (2 to 4)
print (str1[2:])      # Prints string starting from 3rd character
print (str1[:2])
#repetition
print (str1 * 2)      # Prints string two times
#concatination
print (str1 + "TEST") # Prints concatenated string

Hello World!
H
!
llo
llo World!
He
Hello World!Hello World!
Hello World!TEST

string methods are nothing but built in string functions used to manipulate string

In [24]:
# titlecase means capitilizaling 1 letter of each word
string1 = "harsh ankit khushi anya"
print(string1.title())

Harsh Ankit Khushi Anya

In [25]:
str1 = "esha"
str2 = "rehmat"
print(str1.upper())
print(str2.lower())

ESHA
rehmat

In [26]:
str1 = "dhwani is working hard. dhwani loves coding"
str2 = str1.replace("dhwani","pulkit")
print(str2)

pulkit is working hard. pulkit loves coding

In [27]:
#substring in string count
str1 = "team india worked hard. they did great. Team india deserved win"
count = str1.count("india")
print(count)

2

In [28]:
str1 = "Hello123"
count_digit = 0
len(str1)
for i in str1:
  if(i.isdigit()):
    count_digit +=1
print(count_digit)

3

In [29]:
#palindrome

originalstring = "madam"
reversedstring = originalstring [::-1]
if reversedstring == originalstring:
  print("Palindrome")
else:
  print("Not a Palindrome")

Palindrome

In [30]:
#palindrome #string

originalstring = "Madam"
reversedstring = originalstring [::-1]
if reversedstring.lower() == originalstring.lower():
  print("Palindrome")
else:
  print("Not a Palindrome")

Palindrome

In [31]:
pwd = input("enter a password")
#pwd = "Abcd@123"
flag_len = False
counter_upper = 0
counter_digit = 0
counter_space = 0
counter_special = 0
if((len(pwd)==8)):
   flag_len = True
for i in pwd:
  if(i.isupper()):
    counter_upper += 1
  if(i.isdigit()):
    counter_digit += 1
  if(i.isspace()):
    counter_space += 1
  if((i.isalnum()== False) and (i.isspace() == False)):
    counter_special+=1
if((flag_len == True) and (counter_upper>0) and (counter_digit>0) and (counter_space ==0) and (counter_special>0)):
  print("password is valid")
else:
  print("password invalid")

enter a passwordAbcd@123
password is valid

In [32]:
# to find out whether number is a prime number or not
num = int(input("enter a number: "))   #6
flag_prime = True
if num > 2:
  for i in range(2,num):   # 2,3,4,5(i)
    if (num%i)==0:
       flag_prime = False
       break
    else:
       flag_prime = True
elif num == 2:
  flag_prime = True
else:
  flag_prime = False

if(flag_prime == True):
      print("prime number")
elif(flag_prime == False):
      print("not a prime number")

enter a number: 7
prime number

In [33]:
def greet(name):
  #this functions greet the person passed in as parameter
  print("Hope you're having a great day "+name)

greet("Ankit")
greet("John")

Hope you're having a great day Ankit
Hope you're having a great day John

In [34]:
#Factorial
num = int (input("enter a number "))
fact = 1
for i in range(1,num+1):
  fact = i * fact
print(fact)

enter a number 5
120

In [35]:
num=int (input("Enter a number:"))
n1=0
n2=1
print("fibo series")
print(n1,end=" ")
print(n2,end=" ")
for i in range(2,num):
  n3=n1+n2
  n1=n2
  n2=n3
  print(n3,end=" ")

Enter a number:9
fibo series
0 1 1 2 3 5 8 13 21

In [37]:
#check if an integer is a palindrome
def is_palindrome(number):
  if number<0:
    return False

  original_number=number
  reversed_number=0

  while number > 0:
    digit= number % 10
    reversed_number=reversed_number * 10 + digit
    number=number//10

  return original_number==reversed_number

num=int(input("enter a number:"))
if is_palindrome(num):
  print("the number is a palindrome")
else:
  print("the number is not a palindrome")

enter a number:121
the number is a palindrome

# Sequence (built-in data type) - list, tuple and dictionary
Sequences have index staring from from 0 and from right side staring from -1.
There are 6 build in sequences like list, tuple,dictionary etc

# List
A Python list is a sequence of comma separated items,
enclosed in square brackets [ ].
The items in a Python list need not be of the same data
type.
List are mutable, meaning they can be updated

In [38]:
list1 = ["Rohan","Physics", 21, 69.75] #heterogenous
list2 = [1, 2, 3, 4, 5] #homogenous
list3 = ["a","b","c","d"]
list4 = [25.50, True, -55, 1+2j]

In [39]:
#list are mutable
list1 =[1,21,'esha','trainer']
#indexing
print(list1[2])
print(list1[-1])
#slicing
print(list1[0:3])

print (list1[1])
#lists are mutable: we can update,delete or append it
print("update")
list1[1] = 23
print(list1)
#delete
del list1[3]
print(list1)
#concatination
print([1, 2, 3] + [4, 5, 6])
#repeatition
print([1,2,3]*2)
print(len(list1))

esha
trainer
[1, 21, 'esha']
21
update
[1, 23, 'esha', 'trainer']
[1, 23, 'esha']
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]
3

In [40]:
# append sort and reverse
list2 = [2,1,5,3,7] # homogenous number list
list2.append(6)
list2.sort()  # it should be homogenous list
print(list2)
list2.reverse()
print(list2)

list3 = ['esha','roshni','rehmat']
list3.sort()
print(list3)

[1, 2, 3, 5, 6, 7]
[7, 6, 5, 3, 2, 1]
['esha', 'rehmat', 'roshni']

In [41]:
list3 = ['esha','roshni',1234]
list3.clear()
print(list3)

[]

In [42]:
# project hint
import random
L1 = []
for i in range(5):
   x = random.randint(0, 100)
   L1.append(x)
print (L1)

[24, 90, 99, 93, 18]

#Tuple
Tuples are just like list only difference being used with paranthesis () and they are immutable. They are also the default data type for comma seperated items.

In [43]:
#tuple

tup1 = (1,2,'esha')
# no update or append possible
# we can't delete one element but we can delete entire tuple
del tup1
tup2 = (3,4,'khushi')
#slicing
tup2[0:2]

print((1, 2, 3) + (4, 5, 6)) #Concatenation
print(('Hi!',) * 4) #Repetition
print(3 in (1, 2, 3)) #Membership

(1, 2, 3, 4, 5, 6)
('Hi!', 'Hi!', 'Hi!', 'Hi!')
True

Python dictionary(mapping) is also a collection of key:value pairs.
The pairs are separated by comma and put inside curly brackets {}.

In [44]:
#dictionary : sequence( mapping)
dict1 = {1:'esha',2:'rehmat',3:'esha'} # key should be unique
print(dict1[1])  # key inside square bracket and not index

esha

In [45]:
#only immutable items like string,numbers and tupple can be used as keys
# anything: immutable or mutable can be used as values
d1 = {"Fruit":["Mango","Banana"], "Flower":["Rose", "Lotus"]}
d2 = {('India, USA'):'Countries', ('New Delhi', 'New York'):'Capitals'}
print (d1)
print (d2)

{'Fruit': ['Mango', 'Banana'], 'Flower': ['Rose', 'Lotus']}
{'India, USA': 'Countries', ('New Delhi', 'New York'): 'Capitals'}

In [46]:
dict1 = {1:'esha',2:'rehmat',3:'esha'}
print(dict1[1])
dict1[3]='darsh' #update
dict1[5]='kunal' #add
print(dict1)
del dict1[3]
print(dict1)
#dict1.clear()
print(dict1.items())
print(dict1.keys())
print(dict1.values())
#loop
for i in dict1:
  print(i) #keys
  print (dict1[i]) # values

esha
{1: 'esha', 2: 'rehmat', 3: 'darsh', 5: 'kunal'}
{1: 'esha', 2: 'rehmat', 5: 'kunal'}
dict_items([(1, 'esha'), (2, 'rehmat'), (5, 'kunal')])
dict_keys([1, 2, 5])
dict_values(['esha', 'rehmat', 'kunal'])
1
esha
2
rehmat
5
kunal